{% extends "debian-bootstrap4-base.html" %}
{% load static %}
{% load i18n %}

{% block navbar_brand_url %}{% url 'home' %}{% endblock %}

{% block title %}{% trans "Debian New Member Process" %}{% endblock %}

{% block head %}
{{block.super}}
<link rev="made" href="mailto:nm@debian.org">
<link type="text/css" rel="stylesheet" media="all" href="{% static "css/nm2.css" %}">
{{ALL_STATUS|json_script:"ALL_STATUS"}}
<script src="{% static "js/nm.js" %}"></script>
<script type="text/javascript">
(function() {
"use strict";
window.nm2.url_api_people = "{% url 'api:people' %}";
})();
</script>
{% endblock %}

{% block nav_searchbox %}{% comment %}No search feature in NM site yet{% endcomment %}{% endblock %}

{% block nav_left_items %}{# Top links #}
  <li class="nav-item"><a class="nav-link" href="{% url 'public_findperson' %}"><span class="fa fa-search"></span> {% trans "People" %}</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'wizard:home' %}"><span class="fa fa-magic"></span> {% trans "Site wizard" %}</a></li>
  {% if user.is_am %}
  <li class="nav-item"><a class="nav-link" href="{% url 'process_am_dashboard' %}"><span class="fa fa-dashboard"></span> {% trans "AM dashboard" %}</a></li>
  {% endif %}
  {% if wikihelp %}<li><a class="nav-link" href="{{wikihelp}}"><span class="fa fa-info"></span> {% trans "Wiki help" %}<a/a></li>{% endif %}
  {% if navbar.person %} {# Person dropdown menu #}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="fa fa-user"></span> {{person.lookup_key}}
    </a>
    <div class="dropdown-menu" role="menu" aria-labelledby="navbarDropdown">
    {% for link in navbar.person %}
      <a class="dropdown-item" href="{{link.url}}">{% if link.icon %}<span class="fa fa-{{link.icon}}"></span> {% endif %}{{link.label}}</a>
    {% endfor %}
    {% if user != person %}
    <form class="form-inline" method="POST" action="{% url 'impersonate:impersonate' %}">{% csrf_token %}
      <input type="hidden" name="pk" value="{{person.pk}}">
      <input type="hidden" name="next" value="{{request.build_absolute_uri}}">
      <button class="dropdown-item btn btn-link" type="submit"><span class="fa fa-random"></span> {% trans "Impersonate" %}</button>
    </form>
    {% endif %}
    </div>
  </li>
  {% endif %}
  {% if navbar.process %} {# Process dropdown menu #}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="fa fa-drivers-license"></span> {% trans "Process" %}
    </a>
    <div class="dropdown-menu" role="menu" aria-labelledby="navbarDropdown">
    {% for link in navbar.process %}
      <a class="dropdown-item" href="{{link.url}}">{% if link.icon %}<span class="fa fa-{{link.icon}}"></span> {% endif %}{{link.label}}</a>
    {% endfor %}
    </div>
  </li>
  {% endif %}
{% endblock %}

{% block nav_right_items %}{# Visitor menu #}

{% if user.is_anonymous and not request.signon_identities %}
<li class="nav-item"><a href="{% url 'signon:login' %}"><span class="fa fa-sign-in"></span> {% trans "Login" %}</a></li>
{% else %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="fa fa-user-circle"></span>
  {% if user.is_anonymous %}
    {{request.sso_username}}
    {% trans "(not known to this site yet)" %}
  {% else %}
    {{user.lookup_key}}
  {% endif %}
  </a>
  <div class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="navbarDropdown">
  {% block visitor_menu %}
    {% if request.impersonator %}
    <form class="form-inline" method="POST" action="{% url 'impersonate:impersonate' %}">{% csrf_token %}
      <input type="hidden" name="next" value="{{request.build_absolute_uri}}">
      <button class="dropdown-item btn btn-link" type="submit"><span class="fa fa-random"></span> (really {{request.impersonator.lookup_key}})</button>
    </form>
    {% endif %}
    {% if user.is_anonymous %}
      <a class="dropdown-item" href="{% url 'dm_claim' %}">{% trans "claim account" %}</a>
    {% else %}
      <a class="dropdown-item" href="{{user.get_absolute_url}}"><span class="fa fa-user"></span> {% trans "Personal page" %}</a>
      {% if user.is_am %}
      <a class="dropdown-item" href="{% url 'process_am_dashboard' %}"><span class="fa fa-dashboard"></span> {% trans "AM dashboard" %}</a>
      <a class="dropdown-item" href="{% url 'person:amprofile' key=user.lookup_key %}"><span class="fa fa-gear"></span> {% trans "AM profile" %}</a>
      {% endif %}
    {% endif %}
    <a class="dropdown-item" href="{{user.get_ddpo_url}}"><span class="fa fa-tasks"></span> {% trans "DDPO" %}</a>
    <a class="dropdown-item" href="{{user.get_portfolio_url}}"><span class="fa fa-newspaper-o"></span> {% trans "Portfolio" %}</a>
    {% if user.get_contributors_url %}<a class="dropdown-item" href="{{user.get_contributors_url}}"><span class="fa fa-address-card"></span> {% trans "Contributor" %}</a>{% endif %}
    {% if user.is_authenticated %}<a class="dropdown-item" href="{% url 'minechangelogs:search' key=user.lookup_key %}"><span class="fa fa-history"></span> {% trans "Changelogs" %}</a>{% endif %}
    {% if user.is_superuser %}<a class="dropdown-item" href="{{user.get_admin_url}}"><span class="fa fa-microchip"></span> {% trans "Admin" %}</a>{% endif %}
    {% if user.is_dd %}
      {% if emeritus_link %}<a class="dropdown-item" href="{{emeritus_link}}">{% trans "One click emeritus" %}</a>{% endif %}
    {% endif %}
    <a class="dropdown-item" href="{% url 'signon:login' %}"><span class="fa fa-sign-in"></span> {% trans "Logins" %}</a>
    <form class="form-inline" method="POST" action="{% url "signon:logout" %}">{% csrf_token %}
      <button class="btn btn-link dropdown-item" method="submit"><span class="fa fa-sign-out"></span> {% trans "Logout" %}</button>
    </form>
  {% endblock %}
  </div>
</li>
{% endif %}

{% endblock %}

{% block content %}
<h1>{% trans "Debian NM Website Template" %}</h1>
{% endblock %}

{% block page_lead %}
{{super}}
{% if request.impersonator %}
<div id="impersonation" class="container-fluid bg-warning">
<span class="badge badge-pill badge-light"><span class="fa fa-random"></span> {{request.impersonator.a_link}} as {{user.a_link}}</span>
<form class="form-inline" method="POST" action="{% url 'impersonate:impersonate' %}">{% csrf_token %}
  <input type="hidden" name="next" value="{{request.build_absolute_uri}}">
  <button class="badge badge-pill badge-primary" type="submit">{% trans "Cancel" %}</button>
</form>
{% for perm in visit_perms %}<span class="badge badge-pill badge-info mr-1">{{perm}}</span>{% endfor %}
</div>
{% endif %}

{% comment %}
{% if request.signon_identities %}
<div id="signon" class="container-fluid bg-info">
  {% for name, identity in request.signon_identities.items %}
  <div class="badge badge-pill badge-success">
    {% if identity.picture %}<img style="height: 2ex" class="mr-2" src="{{identity.picture}}"></img>{% endif %}
    Logged in with {{identity.get_provider.name}} as <a href="{{identity.profile}}">{{identity.fullname}}</a>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endcomment %}

{# {% if messages %} #}
<div aria-live="polite" aria-atomic="true" class="position-relative">
  <div style="position: absolute; top: 0; right: 0;">
    {% with ERROR=DEFAULT_MESSAGE_LEVELS.ERROR %}
    {% for message in messages %}
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header{% if message.level == ERROR %} bg-danger{% endif %}">
        <span class={% if message.level == ERROR %}"fa fa-exclamation-circle mr-1"{% else %}"fa fa-info-circle mr-1"{% endif %}></span>
        <strong class="mr-auto">{{message.level_tag}}</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body" >
        {{message}}
      </div>
    </div>
    {% endfor %}
    {% endwith %}
  </div>
</div>
{# {% endif %} #}
{% endblock %}

{% block footer %}
<div class="card-body">
{% url 'root_license' as root_license_url %}
<p class="card-text"><small>
{% blocktrans with root_license_url=root_license_url %}
<a href="{{root_license_url}}">Copyright</a> © 2012--2020 <a href="https://wiki.debian.org/Teams/FrontDesk">Debian Front Desk</a>.
Source code is <a href="https://salsa.debian.org/nm-team/nm.debian.org">available on Salsa</a>.
Report bugs on <a href="https://salsa.debian.org/nm-team/nm.debian.org/-/issues">Salsa</a> or the <a href="http://bugs.debian.org/nm.debian.org">Debian BTS</a>.
{% endblocktrans %}
</small>
</p>

{% get_current_language as cur_lang %}
{% get_available_languages as languages %}
{% get_language_info_list for languages as langs %}
<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
<input type="hidden" name="next" value="{{request.path}}" />
<p class="card-text"><small>
{% trans "This page is also available in the following languages:" %}
{% for l in langs %}
<button class="btn btn-link m-0 p-0 border-0 {% if cur_lang == l.code %}current{% endif %}"
    title="{% trans l.name %}" name="language" value="{{l.code}}">{{l.name_local}}</button>{% if not forloop.last %}, {% endif %}
{% endfor %}
</p>
</form>
</div>
{% endblock %}
