{% extends "wizard/base.html" %}
{% load nm %}
{% load i18n %}

{% block content %}

<h1>{{target_desc}}</h1>

{% if not request.user.is_authenticated %}
<p class="lead">{% trans "This wizard only works when you are logged into the site" %}</p>
{% else %}
  {% for c in comments %}<p class="lead">{{c}}</p>{% endfor %}

  {% if allowed %}
  <p class="lead">
   {% url 'process_create' key=request.user.lookup_key as process_create_url %}
   {% blocktrans %}Just <a href="{{process_create_url}}">visit this page</a>
and follow the instructions.{% endblocktrans %}
  </p>
  {% endif %}
{% endif %}

{% if request.session.signon_identities %}
{% include "wizard/whoami.html" %}
{% endif %}

{% endblock %}

