{% extends "process/nm2-base.html" %}
{% load i18n %}

{% block content %}

<h1>{{type_desc}}</h1>

{% include explain_template with edit=False %}

{% include "process/requirement_status_widget.html" %}

<h2>{% trans "Signed statements" %}</h2>

{% include "process/statement_table_widget.html" %}

<h2>{% trans "Log" %}</h2>

{% include "process/log_widget.html" with entries=requirement.log.all %}

{% endblock %}
