{% load i18n %}

{% if requirement.approved_by %}
  <p><i>{% blocktrans with req_approved_by_absolute_url=requirement.approved_by.get_absolute_url req_approved_by=requirement.approved_by requirement_approved_time=requirement.approved_time|timesince%}This
requirement has been approved by <a href="{{req_approved_by_absolute_url}}">{{req_approved_by}}</a>
{{requirement_approved_time}} ago.{% endblocktrans %}</i></p>
{% else %}
  {% if status.satisfied %}
  <p><i>{% trans "This requirement looks ready for approval, but has not been approved yet." %}</i></p>
  {% else %}
  <p><i>{% trans "This requirement looks incomplete." %}</i></p>
  {% endif %}
{% endif %}

{% comment %}
Getting also the date in the correct format within the following three <p>...</p>
tags for the requested language needs more work in coding to adjust the
ordering of year, month and day. Maybe not worth to do this here?
https://docs.djangoproject.com/en/dev/topics/i18n/translation/#switching-language-in-templates
{% endcomment %}

{% if process.closed %}
  <div class="important"><p>
  {% blocktrans with process_closed_by_a_link=process.closed_by.a_link process_closed_time=process.closed_time|date:"Y-m-d" %}This
process has been closed by {{process_closed_by_a_link}} on
{{process_closed_time}}: no further modifications are possible.{% endblocktrans %}</p></div>
{% elif process.approved_by %}
  <div class="important"><p>
  {% blocktrans with process_approved_by_a_link=process.approved_by.a_link process_approved_time=process.approved_time|date:"Y-m-d" %}This
process has been approved by {{process_approved_by_a_link}} on
{{process_approved_time}}: no further modifications are possible.{% endblocktrans %}</p></div>
{% elif process.frozen_by %}
  <div class="important"><p>
  {% blocktrans with process_frozen_by_a_link=process.frozen_by.a_link process_frozen_time=process.frozen_time|date:"Y-m-d" %}This
process has been frozen for review by {{process_frozen_by_a_link}} on
{{process_frozen_time}}: no modifications are currently possible.{% endblocktrans %}</p></div>
{% endif %}

{% if status.notes %}
<h3>{% trans "Potential problems" %}</h3>
<ul>
  {% for nclass, ntext in status.notes %}
  <li class="{{nclass}}">{{ntext}}</li>
  {% endfor %}
</ul>
{% endif %}
