{% extends "process/nm2-base.html" %}
{% load nm %}
{% load i18n %}

{% block content %}

<h1 class="d-flex">
  {% if picture %}
  <img class="mr-2 personpic" src="{{picture}}"></img>
  {% endif %}
  {{person.fullname}}
</h1>

<table class="table table-sm">
  <tr>
    <th>{% trans "Applying for" %}</th>
    <td><b>{{process.applying_for|desc_status}}</b></td>
  </tr>
  <tr>
    <th>{% trans "Applicant" %}</th>
    <td>
      <a href="{{person.get_absolute_url}}">{{person.fullname}} &lt;{{person.preferred_email}}&gt;</a>,
      {% blocktrans with status=person|desc_status %}currently <i>{{status}}</i>{% endblocktrans %}
    </td>
  </tr>
  <tr><th>{% trans "OpenPGP fingerprint" %}</th><td>{{person.fpr|fingerprint}}{% if "edit_fpr" in visit_perms %} <a id="edit_fpr_link" class="btn btn-sm btn-primary ml-2" href="{% url 'fprs:person_list' key=person.lookup_key %}"><span class="fa fa-edit"></span> {% trans "Edit" %}</a>{% endif %}</td></tr>
  <tr><th>{% trans "Activity timespan" %}</th><td>{{status.log_first.logdate|date:"Y-m-d"}} to {{status.log_last.logdate|date:"Y-m-d"}}</td></tr>
  <tr>
    <th>{% trans "Status" %}</th>
    <td>{{status.summary_html}}</td>
  </tr>

  {% if process.closed %}
  <tr>
    <th>{% trans "Completed" %}</th>
    <td>{{process.closed_time|date:"Y-m-d"}}</td>
  </tr>
  {% endif %}

  {% if "advocate" in status.requirements %}
  <tr>
    <th>Advocate{{status.advocates|pluralize}}</th>
    <td>
      {% for a in status.advocates %}
      {{a.a_link}}{% if not forloop.last %}, {% endif %}
      {% empty %}
      <a href="{{status.requirements.advocate.get_absolute_url}}">{% trans "none yet" %}</a>
      {% endfor %}
    </td>
  </tr>
  {% endif %}

  {% with process.current_am_assignment as am %}
  {% if am %}
  <tr>
    <th>{% trans "Application Manager" %}</th>
    <td>
      {{am.am.person.a_link}} {% trans "assigned by" %} {{am.assigned_by.a_link}} {% trans "on" %} {{am.assigned_time|date:"Y-m-d"}}
      {% if "am_unassign" in visit_perms %}
      <form style="display: inline" class="form-inline" id="am_unassign" action="{% url 'process_unassign_am' pk=process.pk %}" method="POST">{% csrf_token %}
        <button class="btn btn-warning btn-sm ml-2" type="submit"><span class="fa fa-remove"></span> {% trans "Unassign" %}</button>
      </form>
      {% endif %}
    </td>
  </tr>
  {% endif %}
  {% endwith %}

  <tr>
    <th>{% trans "Debian account name" %}</th>
    <td>
      {% if "edit_ldap" in visit_perms %}
        <a href="{% url 'person:edit_ldap' key=person.lookup_key %}">
          {% if person.ldap_fields.uid %}
          {{person.ldap_fields.uid}}
          {% else %}
          <i>✘ {% trans "missing" %}</i>
          {% endif %}
        </a>
      {% else %}
          {% if person.ldap_fields.uid %}
          {{person.ldap_fields.uid}}
          {% else %}
          <i>✘ {% trans "missing" %}</i>
          {% endif %}
      {% endif %}
    </td>
  </tr>

  {% if "edit_ldap" in visit_perms %}
  <tr>
    <th>{% trans "LDAP information" %}</th>
    <td>
      <tt>cn={{person.ldap_fields.cn}}, mn={{person.ldap_fields.mn}}, sn={{person.ldap_fields.sn}}, email={{person.ldap_fields.email}}, uid={{person.ldap_fields.uid}}</tt>
      <a class="btn btn-sm btn-primary ml-2" href="{% url 'person:edit_ldap' key=person.lookup_key %}"><span class="fa fa-edit"></span> {% trans "Edit" %}</a>
    </td>
  </tr>
  {% endif %}

  <tr>
    <th>{% trans "Missing requirements" %}</th>
    <td>
      {% if status.requirements_missing %}
        {% for req in status.requirements_missing %}
          {% if "req_view" in req|perms:user %}
            <a class="btn btn-sm btn-outline-danger" id="req_{{req.type}}_missing" href="{{req.get_absolute_url}}">{{req.type_desc}}</a>
          {% else %}
            <span class="btn btn-sm btn-outline-danger disabled" title="{% trans 'Contents are private' %}">{{req.type_desc}}</span>
          {% endif %}
        {% endfor %}
      {% else %}
        {% trans "none" %}
      {% endif %}
    </td>
  </tr>

  <tr>
    <th>{% trans "Requirements OK" %}</th>
    <td>
      {% if status.requirements_ok %}
        {% for req in status.requirements_ok %}
          {% if "req_view" in req|perms:user %}
            <a class="btn btn-sm btn-outline-success" id="req_{{req.type}}_ok" href="{{req.get_absolute_url}}">{{req.type_desc}}</a>
          {% else %}
            <span class="btn btn-sm btn-outline-success disabled" title="{% trans 'Contents are private' %}">{{req.type_desc}}</span>
          {% endif %}
        {% endfor %}
      {% else %}
        {% trans "none" %}
      {% endif %}
    </td>
  </tr>

  {% if "fd_comments" in visit_perms %}
  {% if person.fd_comment %}<tr id="view_person_fd_comment"><th>{% trans "FD comments" %}</th><td>{{person.fd_comment}}</td></tr>{% endif %}
  {% if process.fd_comment %}<tr id="view_process_fd_comment"><th>{% trans "FD comments" %}</th><td>{{process.fd_comment}}</td></tr>{% endif %}
  {% endif %}

  {% if "view_mbox" in visit_perms %}
  <tr id="view_mbox">
    <th>{% trans "Mail archive" %}</th>
    <td>
        <tt><a href="mailto:{{process.archive_email}}">{{process.archive_email}}</a></tt>
        {% with process.current_am_assignment as am %}
        {% if am %}
        <a class="btn btn-sm btn-primary ml-2" href="mailto:{{process.archive_email}},{{person.email}},{{am.am.person.email}}"><span class="fa fa-envelope"></span> {% trans "Email applicant and AM" %}</a>
        {% else %}
        <a class="btn btn-sm btn-primary ml-2" href="mailto:{{process.archive_email}},{{person.email}}"><span class="fa fa-envelope"></span> {% trans "Email applicant" %}</a>
        {% endif %}
        {% endwith %}
        {% if process.mailbox_file %}
        <a class="btn btn-sm btn-primary" href="{% url 'process_mailbox_download' pk=process.pk %}"><span class="fa fa-download"></span> {% trans "(download mail archive)" %}</a>
        <a class="btn btn-sm btn-primary" href="{% url 'process_mailbox_show' pk=process.pk %}"><span class="fa fa-envelope-open"></span> {% trans "display mail archive" %}</a>
        {% else %}
        {% trans "(no mail archive yet)" %}
        {% endif %}
    </td>
  </tr>

  {% comment %} TODO: Requires porting stats backend to new Process
  NOTE: blocktrans needs to be adjusted to use syntax {% blocktrans with name=something%} {{name}}...
  {% if mbox_stats %}
  <tr><th>{% trans "Mailbox stats" %}</th>
      <td>{% blocktrans %}{{mbox_stats.date_first_py|date:"Y-m-d"}} to {{mbox_stats.date_last_py|date:"Y-m-d"}},
{{mbox_stats.num_mails}} mails,{% endblocktrans %}
          <br>
          {% if mbox_stats.median_py %}
            {% if mbox_stats.median_py.days %}{% blocktrans %}{{mbox_stats.median_py.days}}d {% endif %}{{mbox_stats.median_hours}}h median response time{% endblocktrans %}
          {% endif %}
          <span class="mbox_sparkline" values="{{mbox_stats.response_time|join:","}}"></span>
      </td>
  </tr>
  {% endif %}
  {% endcomment %}

  {% endif %}
</table>

<h2 class="mt-3">{% trans "Requirements" %}</h2>

<table class="table table-sm">
  <thead>
    <tr>
      <th>{% trans "Requirement" %}</th>
      <th>{% trans "Approved by" %}</th>
      <th>{% trans "Approved date" context "Date an application was approved" %}</th>
      <th>{% trans "Notes" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for req in status.requirements_sorted %}
    <tr>
      {% with req.compute_status as rstatus %}
      <td><a href="{{req.get_absolute_url}}">{{req}}</a></td>
      <td>
        {% if req.approved_by %}
          {{req.approved_by.a_link}}
        {% else %}
          -
        {% endif %}
      </td>
      <td>
        {% if req.approved_time %}
          {{req.approved_time|date:"Y-m-d"}}
        {% else %}
          -
        {% endif %}
      </td>
      <td>
        {% for nclass, ntext in rstatus.notes %}
        <span class="{{nclass}}">{{ntext}}</span>{% if not forloop.last %}<br>{% endif %}
        {% endfor %}
      </td>
      {% endwith %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{% url 'process_download_statements' pk=process.pk %}" id="download_statements">{% trans "(download all signed statements in a single mailbox file)" %}</a>
{% if user.is_superuser and process.frozen_by and not process.approved_by and not process.closed %}
<br><a href="{% url 'process_statement_create' pk=process.pk type="approval" %}">{% trans "Approve process and open RT ticket" %}</a>
{% endif %}

<h3 class="mt-3">{% trans "Log" %}</h2>

{% include "process/log_widget.html"  with entries=status.log %}

{% endblock %}
