<table id="inconsistencies" class="table table-sm">
<thead>
    <tr>
        <th>First seen</th>
        <th>Last seen</th>
        <th>Ignore until</th>
        <th>Person</th>
        <th>Process</th>
        <th>Tag</th>
        <th>Text</th>
    </tr>
</thead>
<tbody>
    {% for i in inconsistencies %}
    <tr>
      <td>
        <time datetime="{{i.first_seen|date:'c'}}">{{i.first_seen}}</time>
      </td>
      <td>
        <time datetime="{{i.last_seen|date:'c'}}">{{i.last_seen}}</time>
      </td>
      <td>
        <a href="{% url 'admin:sitechecks_inconsistency_change' i.pk %}">
          <time datetime="{{i.ignore_until|date:'c'}}">{{i.ignore_until}}</time>
        </a>
      </td>
      <td>{{i.person.a_link}}</td>
      <td>{{i.process.a_link}}</td>
      <td>{{i.tag}}</td>
      <td>{{i.text}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
